openapi: 3.0.3
info:
  title: Perfect Flight - API Reference
  version: 1.0.0
  contact:
    url: https://www.perfectflight.com.br/en/contact
    name: Perfect Flight
    email: developer@perfectflightapp.com
servers:
  - url: https://api.sandbox.perfectflight.com.br/v1
    description: "Sandbox Server API"
  - url: https://api.perfectflight.com.br/v1
    description: "Production Server API"
tags:
  - name: farm
  - name: field
  - name: restriction field
paths:
  /farms:
    parameters:
      - name: x-pf-correlation-id
        in: header
        description: correlation identifier between request and response
        required: false
        example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
        schema:
          type: string
          format: uuid
    post:
      description: create a new farm
      summary: create a new farm
      tags:
        - farm
      responses:
        '201':
          description: farm was successfully created
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmCreatedDto'
        '400':
          description: farm already exists
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmAlreadyExistsException'
        '401':
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedException'
        '403':
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '422':
          description: parent farm not found
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParentFarmNotFoundException'    
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
      security:
        - auth: []
      requestBody:
        required: true
        content:
          application/json:
              schema:
                $ref: '#/components/schemas/CreateFarmDto'   
    get:
      description: search all farms
      summary: search all farms
      tags:
        - farm
      responses:
        '200':
          description: successful farm search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                type: array
                description: list of farms
                minimum: 0
                minItems: 0
                uniqueItems: true
                items:
                  $ref: '#/components/schemas/FarmDto'
        '401':
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedException'
        '403':
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
      security:
        - auth: []
      parameters:
        - name: namespace
          in: query
          description: farm namespace
          required: false
          schema:
            type: string
            nullable: true
            example: Farms
        - name: name
          in: query
          description: farm name
          required: false
          schema:
            type: string
            nullable: true
            example: My Farm
        - name: parentFarmId
          in: query
          description: parent farm id
          required: false
          schema:
            type: string
            format: uuid
            nullable: true
            example: 09650ecf-a354-4d6b-9092-6c0f8d037a92
        - name: page
          in: query
          description: current page number
          required: false
          schema:
            type: integer
            nullable: true
            example: 2
            default: 1
        - name: pageSize
          in: query
          description: number of farms per page
          required: false
          schema:
            type: integer
            nullable: true
            example: 20
            default: 10
  /farms/{farmId}:
    get:
      description: search farm by id
      summary: search farm by id
      tags:
        - farm
      responses:
        '200':
          description: successful farm search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmDto'
        '401':
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedException'
        '403':
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: farm not found
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmNotFoundException'
        '500':
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
      security:
        - auth: []
    parameters:
      - name: farmId
        in: path
        description: unique farm identification
        example: c17ebf24-e2bd-4c83-88fc-f2c8b0e43883
        required: true
        schema:
          type: string
          format: uuid
      - name: x-pf-correlation-id
        in: header
        description: correlation identifier between request and response
        required: false
        example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
        schema:
          type: string
          format: uuid
  /farms/{farmId}/fields:
    get:
      description: search all fields by farm id
      summary: search all fields by farm id
      tags:
        - farm
      responses:
        default:
          description: Default response for GET /farms/{farmId}/fields
      security:
        - auth: []
    parameters:
      - name: farmId
        in: path
        description: unique farm identification
        required: true
        schema:
          type: string
          format: uuid
  /fields:
    get:
      description: search all fields
      summary: search all fields
      tags:
        - field
      responses:
        '200':
          description: successful field search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                type: array
                description: list of fields
                minimum: 0
                minItems: 0
                uniqueItems: true
                items:
                  $ref: '#/components/schemas/FieldDto'
        '401':
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedException'
        '403':
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '500':
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
    parameters:
      - name: x-pf-correlation-id
        in: header
        description: correlation identifier between request and response
        required: false
        example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
        schema:
          type: string
          format: uuid
  /fields/{fieldId}:
    get:
      description: search field by id
      summary: search field by id
      tags:
        - field
      responses:
        '200':
          description: successful field search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDto'
        '401':
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedException'
        '403':
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
        '404':
          description: field not found
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldNotFoundException'
        '500':
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
      security:
        - auth: []
    parameters:
      - name: fieldId
        in: path
        description: unique field identification
        example: ecafbb6f-c7b4-43d6-bf54-5f7dd98d8377
        required: true
        schema:
          type: string
          format: uuid
      - name: x-pf-correlation-id
        in: header
        description: correlation identifier between request and response
        required: false
        example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
        schema:
          type: string
          format: uuid
  /restriction-fields:
    get:
      description: search all restriction fields
      summary: search all restriction fields
      tags:
        - restriction field
      responses:
        default:
          description: Default response for GET /restriction-fields
      security:
        - auth: []
    parameters:
      - name: x-pf-correlation-id
        in: header
        description: correlation identifier between request and response
        required: false
        example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
        schema:
          type: string
          format: uuid
  /restriction-fields/{restrictionFieldId}:
    get:
      description: search restriction field by id
      summary: search restriction field by id
      tags:
        - restriction field
      responses:
        default:
          description: Default response for GET /restriction-fields/{restrictionFieldId}
      security:
        - auth: []
    parameters:
      - name: restrictionFieldId
        in: path
        description: unique restriction field identification
        required: true
        schema:
          type: string
      - name: x-pf-correlation-id
        in: header
        description: correlation identifier between request and response
        required: false
        example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
        schema:
          type: string
          format: uuid
components:
  schemas:
    ParentFarmNotFoundException:
      description: parent farm does not found
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: unprocessable_entity_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Parent farm bfc780ae-3873-4caf-92d3-9b7ae4ea2a57 not found, so farm cannot be created
    FarmAlreadyExistsException:
      description: farm already exists
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: bad_request_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Farm My Farm with namespace Farms on parent farm bfc780ae-3873-4caf-92d3-9b7ae4ea2a57 already exists
    FarmNotFoundException:
      description: farm not found
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: not_found_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Farm 20f94ebe-361b-44e6-9729-57d744d04b27 not found
    FieldNotFoundException:
      description: field not found
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: not_found_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Field ecafbb6f-c7b4-43d6-bf54-5f7dd98d8377 not found
    UnauthorizedException:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: unauthorized_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Unauthorized
    ForbiddenException:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: forbidden_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Request does not have identity to access this resource
    InternalServerErrorException:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: internal_server_error_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Internal Server Error
    RestrictionFieldDto:
      type: object
    FieldDto:
      type: object
      required:
        - id
        - name
        - boundaries
        - area 
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique field identification
          example: b48207a5-9408-4b92-b15f-6954b225c0b6
        name:
          type: string
          nullable: false
          description: field name
          example: Field 01
        area:
          type: number
          nullable: false
          description: |-
            total field area in hectares.

            the area calculation is performed considering the EPSG:5530 projection, which is a specific coordinate reference system for the geographic region of Brazil.
            for more details visit [https://epsg.io/5530](https://epsg.io/5530).
          example: 33.43
        boundaries:
          type: string
          nullable: false
          description: object in wkt format that represents the georeferencing of the field
          example: "POLYGON ((-56.1736668 -15.5591935,-56.1731188 -15.5592036,-56.1731971 -15.5595204,-56.1737295 -15.5594852,-56.1736668 -15.5591935))"
          format: wkt
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the field was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the field was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the field was deleted
          example: 2024-05-27T22:59:44.903Z
    FarmDto:
      type: object
      required:
        - id
        - name
        - namespace
        - area
        - count
        - boundaries
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique farm identification
          example: 20f94ebe-361b-44e6-9729-57d744d04b27
        name:
          type: string
          nullable: false
          description: farm name
          example: My Farm
        namespace:
          type: string
          nullable: false
          description: group to which the farm belongs
          example: Farms
        area:
          type: number
          nullable: false
          default: 0
          description: |-
            total area of ​​the farm in hectares according to the fields that are active and associated with it.

            the area calculation is performed considering the EPSG:5530 projection, which is a specific coordinate reference system for the geographic region of Brazil.
            for more details visit [https://epsg.io/5530](https://epsg.io/5530).
          example: 155.43
        count:
          type: integer
          nullable: false
          default: 0
          description: number of active fields associated with the farm
          example: 29
        boundaries:
          type: string
          nullable: false
          default: "POLYGON EMPTY"
          description: object in wkt format that represents the georeference of the farm according to the active fields associated with it
          example: "MULTIPOLYGON (((-63.7279364 -8.8349494,-63.7264692 -8.8379071,-63.7252954 -8.8373272,-63.7272909 -8.8346015,-63.7279364 -8.8349494)),((-63.7265866 -8.8333836,-63.7268213 -8.8324557,-63.7245324 -8.8322238,-63.7246498 -8.8331516,-63.7265866 -8.8333836)))"
          format: wkt
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the farm was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the farm was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the farm was deleted
          example: 2024-05-27T22:59:44.903Z
    CreateFarmDto:
      type: object
      required:
        - name
        - namespace
      properties:
        name:
          type: string
          nullable: false
          description: farm name
          example: My Farm
        namespace:
          type: string
          nullable: false
          description: group to which the farm belongs
          example: Farms
        parentFarmId:
          type: string
          format: uuid
          description: |- 
            identification of the parent farm.

            enter this attribute when you want to associate a farm with an existing one (as if it were a tree structure).
          example: bfc780ae-3873-4caf-92d3-9b7ae4ea2a57
    FarmCreatedDto:
      type: object
      required:
        - id
        - name
        - namespace
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique farm identification
          example: 20f94ebe-361b-44e6-9729-57d744d04b27
        name:
          type: string
          nullable: false
          description: farm name
          example: My Farm
        namespace:
          type: string
          nullable: false
          description: group to which the farm belongs
          example: Farms
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the farm was created
          example: 2024-05-27T22:52:44.903Z
  securitySchemes:
    auth:
      description: "Authorization Server"
      type: oauth2     
      flows:
        clientCredentials:
          tokenUrl: 'https://auth.sandbox.perfectflight.com.br/connect/token'
        