openapi: 3.0.3
info:
  title: Perfect Flight - OpenAPI
  version: 1.0.0
  contact:
    email: developer@perfectflightapp.com
servers:
- url: "https://api.sandbox.perfectflight.com.br/v1"
  description: "Sandbox"
- url: "https://api.perfectflight.com.br/v1"
  description: "Production"
tags:
  - name: application
  - name: farm
  - name: field
  - name: season
  - name: restriction field
paths:
  /applications:
    get:
      tags:
        - application
      responses:
        default:
          description: "Default response for GET /applications"
      security:
      - openapi-authorizer: []
  /applications/{applicationId}:
    get:
      tags:
        - application
      responses:
        default:
          description: "Default response for GET /applications/{applicationId}"
      security:
      - openapi-authorizer: []
    parameters:
    - name: "applicationId"
      in: "path"
      description: "Generated path parameter for applicationId"
      required: true
      schema:
        type: "string"
  /farms:
    get:
      tags:
        - farm
      responses:
        default:
          description: "Default response for GET /farms"
      security:
      - openapi-authorizer: []
  /farms/{farmId}:
    get:
      tags:
        - farm
      responses:
        default:
          description: "Default response for GET /farms/{farmId}"
      security:
      - openapi-authorizer: []
    parameters:
    - name: "farmId"
      in: "path"
      description: "Generated path parameter for farmId"
      required: true
      schema:
        type: "string"
  /farms/{farmId}/fields:
    get:
      tags:
        - field
      responses:
        default:
          description: "Default response for GET /farms/{farmId}/fields"
      security:
      - openapi-authorizer: []
    parameters:
    - name: "farmId"
      in: "path"
      description: "Generated path parameter for farmId"
      required: true
      schema:
        type: "string"
  /farms/{farmId}/fields/{fieldId}:
    get:
      tags:
        - field
      responses:
        default:
          description: "Default response for GET /farms/{farmId}/fields/{fieldId}"
      security:
      - openapi-authorizer: []
    parameters:
    - name: "farmId"
      in: "path"
      description: "Generated path parameter for farmId"
      required: true
      schema:
        type: "string"
    - name: "fieldId"
      in: "path"
      description: "Generated path parameter for fieldId"
      required: true
      schema:
        type: "string"
  /restriction-fields:
    get:
      tags:
        - restriction field
      responses:
        default:
          description: "Default response for GET /restriction-fields"
      security:
      - openapi-authorizer: []
  /restriction-fields/{restrictionFieldId}:
    get:
      tags:
        - restriction field
      responses:
        default:
          description: "Default response for GET /restriction-fields/{restrictionFieldId}"
      security:
      - openapi-authorizer: []
    parameters:
    - name: "restrictionFieldId"
      in: "path"
      description: "Generated path parameter for restrictionFieldId"
      required: true
      schema:
        type: "string"
  /seasons:
    get:
      tags:
        - season
      responses:
        default:
          description: "Default response for GET /seasons"
      security:
      - openapi-authorizer: []
  /seasons/{seasonId}:
    get:
      tags:
        - season
      responses:
        default:
          description: "Default response for GET /seasons/{seasonId}"
      security:
      - openapi-authorizer: []
    parameters:
    - name: "seasonId"
      in: "path"
      description: "Generated path parameter for seasonId"
      required: true
      schema:
        type: "string"
components:
  securitySchemes:
    openapi-authorizer:
      type: "apiKey"
      name: "Unused"
      in: "header"
