openapi: 3.0.4
info:
  title: Perfect Flight - API Reference
  version: 1.0.1
  contact:
    url: https://www.perfectflight.com.br/en/contact
    name: Perfect Flight
    email: developer@perfectflightapp.com
servers:
  - url: https://api.sandbox.perfectflight.com.br/v1
    description: "Sandbox Server API"
  - url: https://api.perfectflight.com.br/v1
    description: "Production Server API"
tags:
  - name: farm
  - name: field
  - name: application
  - name: season
  - name: aircraft
  - name: pilot
  - name: suggested products
  - name: pre flight
paths:
  /suggested-products:
    parameters:
      - name: x-pf-correlation-id
        in: header
        required: false
        schema:
          $ref: "#/components/schemas/CorrelationHeader"
    get:
      description: search all suggested products
      summary: search all suggested products
      responses:
        "200":
          description: successful suggested products search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                type: array
                description: list of suggested products
                minimum: 0
                minItems: 0
                uniqueItems: true
                items:
                  $ref: "#/components/schemas/SuggestedProductDto"
        "401":
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedException"
        "403":
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "500":
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorException"
      parameters:
        - name: name
          in: query
          description: suggested product name
          required: false
          schema:
            type: string
            nullable: true
            example: Suggested Product Example
        - name: classType
          in: query
          description: suggested product class type
          required: false
          schema:
            $ref: "#/components/schemas/ProductClassTypeEnum"
        - name: withDeleted
          in: query
          description: include deleted suggested products
          required: false
          schema:
            $ref: "#/components/schemas/WithDeletedQueryParameter"
        - name: page
          in: query
          description: current page number
          required: false
          schema:
            $ref: "#/components/schemas/PageQueryParameter"
        - name: pageSize
          in: query
          description: number of suggested products per page
          required: false
          schema:
            $ref: "#/components/schemas/PageSizeQueryParameter"
      tags:
        - suggested products
      security:
        - auth: []
  /pilots:
    parameters:
      - name: x-pf-correlation-id
        in: header
        required: false
        schema:
          $ref: "#/components/schemas/CorrelationHeader"
    get:
      description: search all pilots
      summary: search all pilots
      responses:
        "200":
          description: successful pilot search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                type: array
                description: list of pilots
                minimum: 0
                minItems: 0
                uniqueItems: true
                items:
                  $ref: "#/components/schemas/PilotDto"
        "401":
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedException"
        "403":
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "500":
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorException"
      parameters:
        - name: withDeleted
          in: query
          description: include deleted pilots
          required: false
          schema:
            $ref: "#/components/schemas/WithDeletedQueryParameter"
        - name: page
          in: query
          description: current page number
          required: false
          schema:
            $ref: "#/components/schemas/PageQueryParameter"
        - name: pageSize
          in: query
          description: number of pilots per page
          required: false
          schema:
            $ref: "#/components/schemas/PageSizeQueryParameter"
      tags:
        - pilot
      security:
        - auth: []
  /aircrafts:
    parameters:
      - name: x-pf-correlation-id
        in: header
        required: false
        schema:
          $ref: "#/components/schemas/CorrelationHeader"
    get:
      description: search all aircrafts
      summary: search all aircrafts
      responses:
        "200":
          description: successful aircraft search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                type: array
                description: list of aircrafts
                minimum: 0
                minItems: 0
                uniqueItems: true
                items:
                  $ref: "#/components/schemas/AircraftDto"
        "401":
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedException"
        "403":
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "500":
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorException"
      parameters:
        - name: withDeleted
          in: query
          description: include deleted aircrafts
          required: false
          schema:
            $ref: "#/components/schemas/WithDeletedQueryParameter"
        - name: page
          in: query
          description: current page number
          required: false
          schema:
            $ref: "#/components/schemas/PageQueryParameter"
        - name: pageSize
          in: query
          description: number of aircrafts per page
          required: false
          schema:
            $ref: "#/components/schemas/PageSizeQueryParameter"
      tags:
        - aircraft
      security:
        - auth: []
  /seasons:
    parameters:
      - name: x-pf-correlation-id
        in: header
        required: false
        schema:
          $ref: "#/components/schemas/CorrelationHeader"
    get:
      description: search all seasons
      summary: search all seasons
      responses:
        "200":
          description: successful season search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                type: array
                description: list of seasons
                minimum: 0
                minItems: 0
                uniqueItems: true
                items:
                  $ref: "#/components/schemas/SeasonDto"
        "401":
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedException"
        "403":
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "500":
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorException"
      parameters:
        - name: withDeleted
          in: query
          description: include deleted seasons
          required: false
          schema:
            $ref: "#/components/schemas/WithDeletedQueryParameter"
        - name: page
          in: query
          description: current page number
          required: false
          schema:
            $ref: "#/components/schemas/PageQueryParameter"
        - name: pageSize
          in: query
          description: number of seasons per page
          required: false
          schema:
            $ref: "#/components/schemas/PageSizeQueryParameter"
      tags:
        - season
      security:
        - auth: []
  /seasons/{seasonId}:
    get:
      description: search season by id
      summary: search season by id
      tags:
        - season
      responses:
        "200":
          description: successful season search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeasonDto"
        "401":
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedException"
        "403":
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "404":
          description: season not found
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeasonNotFoundException"
        "500":
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorException"
      security:
        - auth: []
    parameters:
      - name: seasonId
        in: path
        description: unique season identification
        example: 3ffa8c69-cc87-46b6-b824-e62feb97f237
        required: true
        schema:
          type: string
          format: uuid
      - name: x-pf-correlation-id
        in: header
        required: false
        schema:
          $ref: "#/components/schemas/CorrelationHeader"
  /farms:
    parameters:
      - name: x-pf-correlation-id
        in: header
        required: false
        schema:
          $ref: "#/components/schemas/CorrelationHeader"
    post:
      description: create a new farm
      summary: create a new farm
      tags:
        - farm
      responses:
        "201":
          description: farm was successfully created
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FarmCreatedDto"
        "400":
          description: farm already exists
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FarmAlreadyExistsException"
        "401":
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedException"
        "403":
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "422":
          description: parent farm not found
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParentFarmNotFoundException"
        "500":
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorException"
      security:
        - auth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFarmDto"
    get:
      description: search all farms
      summary: search all farms
      tags:
        - farm
      responses:
        "200":
          description: successful farm search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                type: array
                description: list of farms
                minimum: 0
                minItems: 0
                uniqueItems: true
                items:
                  $ref: "#/components/schemas/FarmDto"
        "401":
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedException"
        "403":
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "500":
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorException"
      security:
        - auth: []
      parameters:
        - name: withDeleted
          in: query
          description: include deleted farms
          required: false
          schema:
            $ref: "#/components/schemas/WithDeletedQueryParameter"
        - name: namespace
          in: query
          description: farm namespace
          required: false
          schema:
            type: string
            nullable: true
            example: Farms
        - name: name
          in: query
          description: farm name
          required: false
          schema:
            type: string
            nullable: true
            example: My Farm
        - name: parentFarmId
          in: query
          description: parent farm id
          required: false
          schema:
            type: string
            format: uuid
            nullable: true
            example: 09650ecf-a354-4d6b-9092-6c0f8d037a92
        - name: page
          in: query
          description: current page number
          required: false
          schema:
            $ref: "#/components/schemas/PageQueryParameter"
        - name: pageSize
          in: query
          description: number of farms per page
          required: false
          schema:
            $ref: "#/components/schemas/PageSizeQueryParameter"
  /farms/{farmId}:
    get:
      description: search farm by id
      summary: search farm by id
      tags:
        - farm
      responses:
        "200":
          description: successful farm search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FarmDto"
        "401":
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedException"
        "403":
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "404":
          description: farm not found
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FarmNotFoundException"
        "500":
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorException"
      security:
        - auth: []
    parameters:
      - name: farmId
        in: path
        description: unique farm identification
        example: c17ebf24-e2bd-4c83-88fc-f2c8b0e43883
        required: true
        schema:
          type: string
          format: uuid
      - name: x-pf-correlation-id
        in: header
        required: false
        schema:
          $ref: "#/components/schemas/CorrelationHeader"
  /farms/{farmId}/fields:
    get:
      description: search all fields by farm id
      summary: search all fields by farm id
      tags:
        - farm
      responses:
        default:
          description: Default response for GET /farms/{farmId}/fields
      security:
        - auth: []
      parameters:
        - name: withDeleted
          in: query
          description: include deleted fields
          required: false
          schema:
            $ref: "#/components/schemas/WithDeletedQueryParameter"
        - name: page
          in: query
          description: current page number
          required: false
          schema:
            $ref: "#/components/schemas/PageQueryParameter"
        - name: pageSize
          in: query
          description: number of applications per page
          required: false
          schema:
            $ref: "#/components/schemas/PageSizeQueryParameter"
    parameters:
      - name: farmId
        in: path
        description: unique farm identification
        required: true
        schema:
          type: string
          format: uuid
  /fields:
    get:
      description: search all fields
      summary: search all fields
      tags:
        - field
      security:
        - auth: []
      responses:
        "200":
          description: successful field search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                type: array
                description: list of fields
                minimum: 0
                minItems: 0
                uniqueItems: true
                items:
                  $ref: "#/components/schemas/FieldDto"
        "401":
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedException"
        "403":
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "500":
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorException"
      parameters:
        - name: withDeleted
          in: query
          description: include deleted fields
          required: false
          schema:
            $ref: "#/components/schemas/WithDeletedQueryParameter"
        - name: page
          in: query
          description: current page number
          required: false
          schema:
            $ref: "#/components/schemas/PageQueryParameter"
        - name: pageSize
          in: query
          description: number of applications per page
          required: false
          schema:
            $ref: "#/components/schemas/PageSizeQueryParameter"
    parameters:
      - name: x-pf-correlation-id
        in: header
        required: false
        schema:
          $ref: "#/components/schemas/CorrelationHeader"
  /fields/{fieldId}:
    get:
      description: search field by id
      summary: search field by id
      tags:
        - field
      responses:
        "200":
          description: successful field search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FieldDto"
        "401":
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedException"
        "403":
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "404":
          description: field not found
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FieldNotFoundException"
        "500":
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorException"
      security:
        - auth: []
    parameters:
      - name: fieldId
        in: path
        description: unique field identification
        example: ecafbb6f-c7b4-43d6-bf54-5f7dd98d8377
        required: true
        schema:
          type: string
          format: uuid
      - name: x-pf-correlation-id
        in: header
        required: false
        schema:
          $ref: "#/components/schemas/CorrelationHeader"
  /applications:
    parameters:
      - name: x-pf-correlation-id
        in: header
        required: false
        schema:
          $ref: "#/components/schemas/CorrelationHeader"
    get:
      description: search all applications
      summary: search all applications
      tags:
        - application
      responses:
        "200":
          description: successful application search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                type: array
                description: list of applications
                minimum: 0
                minItems: 0
                uniqueItems: true
                items:
                  $ref: "#/components/schemas/ApplicationDto"
        "401":
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedException"
        "403":
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "500":
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorException"
      security:
        - auth: []
      parameters:
        - name: withDeleted
          in: query
          description: include deleted applications
          required: false
          schema:
            $ref: "#/components/schemas/WithDeletedQueryParameter"
        - name: serviceOrderId
          in: query
          description: unique service order identification
          required: false
          schema:
            type: string
            format: uuid
            nullable: false
            example: 46e842b6-f4e8-4503-9c3e-bfdc34604849
        - name: seasonId
          in: query
          description: unique season identification
          required: false
          schema:
            type: string
            format: uuid
            nullable: false
            example: 21c85837-cf04-49a6-9a9e-2661060ef502
        - name: page
          in: query
          description: current page number
          required: false
          schema:
            $ref: "#/components/schemas/PageQueryParameter"
        - name: pageSize
          in: query
          description: number of applications per page
          required: false
          schema:
            $ref: "#/components/schemas/PageSizeQueryParameter"
        - name: crop
          in: query
          description: season crop
          required: false
          schema:
            $ref: "#/components/schemas/CropEnum"
        - name: pilotId
          in: query
          description: unique pilot identification
          required: false
          schema:
            $ref: "#/components/schemas/PilotId"
        - name: aerialCompanyId
          in: query
          description: unique aerial company identification
          required: false
          schema:
            type: string
            format: uuid
            nullable: false
            example: 075773c3-0f4b-4ac0-b74b-6e777ec0a4bd
        - name: farmId
          in: query
          description: unique farm identification
          required: false
          schema:
            type: string
            format: uuid
            nullable: false
            example: 075773c3-0f4b-4ac0-b74b-6e777ec0a4bd
        - name: applicationDateType
          in: query
          description: application date type
          required: false
          schema:
            $ref: "#/components/schemas/ApplicationDateTypeEnum"
        - name: applicationType
          in: query
          description: application type
          required: false
          schema:
            $ref: "#/components/schemas/ApplicationTypeEnum"
        - name: startedIn
          in: query
          description: application start date
          required: false
          schema:
            type: string
            format: date-time
            nullable: false
            example: 2024-06-01T22:52:44.903Z
        - name: finishedIn
          in: query
          description: application end date
          required: false
          schema:
            type: string
            format: date-time
            nullable: false
            example: 2024-06-31T22:52:44.903Z
  /applications/{applicationId}:
    parameters:
      - name: x-pf-correlation-id
        in: header
        required: false
        schema:
          $ref: "#/components/schemas/CorrelationHeader"
      - name: applicationId
        in: path
        description: unique application identification
        example: fa2a8bbd-5f1d-4012-a022-12a28f676057
        required: true
        schema:
          type: string
          format: uuid
    get:
      description: search application by id
      summary: search application by id
      tags:
        - application
      responses:
        "200":
          description: successful application search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationDto"
        "401":
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedException"
        "403":
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "404":
          description: application not found
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationNotFoundException"
        "500":
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorException"
      security:
        - auth: []
  /pre-flight:
    parameters:
      - name: x-pf-correlation-id
        in: header
        required: false
        schema:
          $ref: "#/components/schemas/CorrelationHeader"
    post:
      description: create a new pre flight
      summary: create a new pre flight
      tags:
        - pre flight
      responses:
        "201":
          description: pre flight was successfully created
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          # content:
          #   application/json:
          #     schema:
          #       $ref: "#/components/schemas/PreFlightCreatedDto"
        "400":
          description: pre flight already exists
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          # content:
          #   application/json:
          #     schema:
          #       $ref: "#/components/schemas/PreFlightAlreadyExistsException"
        "401":
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedException"
        "403":
          description: forbidden
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "422":
          description: TODO
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParentFarmNotFoundException"
        "500":
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation identifier between request and response
              schema:
                $ref: "#/components/schemas/CorrelationHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorException"
      security:
        - auth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePreFlightDto"
components:
  schemas:
    ParentFarmNotFoundException:
      description: parent farm does not found
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: unprocessable_entity_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Parent farm bfc780ae-3873-4caf-92d3-9b7ae4ea2a57 not found, so farm cannot be created
    FarmAlreadyExistsException:
      description: farm already exists
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: bad_request_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Farm My Farm with namespace Farms on parent farm bfc780ae-3873-4caf-92d3-9b7ae4ea2a57 already exists
    SeasonNotFoundException:
      description: season not found
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: not_found_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Season 3ffa8c69-cc87-46b6-b824-e62feb97f237 not found
    ApplicationNotFoundException:
      description: application not found
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: not_found_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Application b361cb2d-587d-40ad-9c2a-695f1df7bf62 not found
    FarmNotFoundException:
      description: farm not found
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: not_found_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Farm 20f94ebe-361b-44e6-9729-57d744d04b27 not found
    FieldNotFoundException:
      description: field not found
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: not_found_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Field ecafbb6f-c7b4-43d6-bf54-5f7dd98d8377 not found
    UnauthorizedException:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: unauthorized_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Unauthorized
    ForbiddenException:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: forbidden_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Request does not have identity to access this resource
    InternalServerErrorException:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: internal_server_error_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Internal Server Error
    CorrelationHeader:
      type: string
      format: uuid
      nullable: false
      description: correlation identifier between request and response
      example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
    WithDeletedQueryParameter:
      type: boolean
      default: false
      description: in a route with the pages function, this attribute is used to include items already excluded in the response
      example: true
    PageQueryParameter:
      type: integer
      format: int32
      # TODO description:
      example: 2
      default: 1
    PageSizeQueryParameter:
      type: integer
      format: int32
      # TODO description:
      example: 20
      default: 10
    CropEnum:
      type: string
      description: crop type
      example: cotton
      enum:
        - unknown
        - cotton
        - corn
        - avocado
        - bean
        - brachiaria
        - cereals
        - citrus
        - cocoa
        - coconut
        - coffee
        - eucalyptus
        - grape
        - oat
        - orange
        - peanut
        - pineapple
        - potato
        - rice
        - soybean
        - sugarcane
        - sunflower
        - wheat
        - sunn_hemp
        - pearl_millet
        - sorghum
        - stylosanthes
        - cover
        - millet
        - banana
    ProductClassTypeEnum:
      type: string
      description: product class type
      example: fungicide
      enum:
        - unknown
        - ripener
        - adjuvant
        - insecticide
        - acaricide
        - fungicide
        - nematicide
        - herbicide
        - bactericide
        - biological
        - adulticide
        - foliar_nutrition
        - larvicide
        - fertilizer
        - phytohormone
        - ant_killer
        - seeding
        - microbiological
        - plant_activator
        - termiticide
        - pheromone
        - plant_growth_regulator
        - molluscicide
        - seed_protectant
        - biological_control_agent
        - acaricide_bactericide_fungicide
        - acaricide_ant_killer_insecticide
        - acaricide_fungicide
        - acaricide_fungicide_insecticide
        - acaricide_insecticide
        - acaricide_insecticide_nematicide
        - acaricide_microbiological
        - acaricide_microbiological_insecticide_microbiological
        - bactericide_fungicide
        - bactericide_microbiological_fungicide_microbiological
        - termiticide_ant_killer_insecticide
        - termiticide_insecticide
        - pheromone_insecticide
        - ant_killer_fungicide_herbicide_insecticide_nematicide
        - ant_killer_fungicide_herbicide_nematicide
        - ant_killer_insecticide
        - fungicide_nematicide
        - fungicide_nematicide_microbiological
        - fungicide_herbicide_nematicide
        - fungicide_insecticide
        - fungicide_insecticide_nematicide
        - fungicide_microbiological
        - fungicide_microbiological_nematicide_microbiological
        - herbicide_plant_growth_regulator
        - insecticide_plant_growth_regulator
        - fumigant_insecticide
        - insecticide_microbiological
        - insecticide_nematicide
        - nematicide_microbiological
    ProductServiceTypeEnum:
      type: string
      description: product service type
      example: pesticide_application
      enum:
        - pesticide_application
        - adjuvant_application
        - fertilizer_application
        - seeding
        - unknown
    MeasurementUnitEnum:
      type: string
      description: measurement unit
      example: l
      enum:
        - l
        - ha
        - ac
        - m
        - kg
        - km
        - "°"
        - "°c"
        - "°f"
        - mm
        - "%"
    ApplicationTypeEnum:
      type: string
      description: application type
      example: aerial
      enum:
        - aerial
        - terrestrial
    ApplicationAnalysisMethodEnum:
      type: string
      description: application analysis method
      example: COMPLETE_TARGET
      enum:
        - BORDER_TARGET
        - PARTIAL_TARGET
        - COMPLETE_TARGET
    ApplicationStatusEnum:
      type: string
      example: complete
      description: application status
      enum:
        - active
        - in_analysis
        - complete
    ApplicationDeletedReasonEnum:
      type: string
      description: application deleted reason
      example: wrong_application_data
      enum:
        - duplicated_application
        - wrong_application_data
        - wrong_service_order_application
    ApplicationScheduleStatusEnum:
      type: string
      description: application schedule status
      example: executed
      enum:
        - planned
        - executed
    ServiceOrderStatusEnum:
      type: string
      nullable: false
      description: service order status
      example: complete
      enum:
        - waiting_job
        - in_progress
        - ready_to_process
        - processing
        - complete
    CurrencyEnum:
      type: string
      nullable: false
      description: currency
      example: BRL
      enum:
        - BRL
        - USD
        - EUR
    ApplicationLogFormatEnum:
      type: string
      nullable: false
      description: application log format
      example: satloc
      enum:
        - unknown
        - agnav
        - satloc
        - travicar
        - agpilotx
        - galindo
        - dynanav
        - trimble
        - verion
    ApplicationLogStatusEnum:
      type: string
      nullable: false
      description: application log status
      example: processed
      enum:
        - waiting_upload
        - uploaded
        - awaiting_processing
        - processing
        - invalidated
        - processed
    ApplicationDateTypeEnum:
      type: string
      description: application date type enum
      example: application_date
      enum:
        - application_date
        - analysis_date
    SeasonDto:
      type: object
      required:
        - id
        - startedIn
        - finishedIn
        - crop
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique season identification
          example: fe1e9d3c-18fa-4e31-86c1-38c33be1856c
        startedIn:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the season was started
          example: 2024-05-27T22:52:44.903Z
        finishedIn:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the season was finished
          example: 2024-05-27T22:52:44.903Z
        crop:
          $ref: "#/components/schemas/CropEnum"
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the season was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the season was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the season was deleted
          example: 2024-05-27T22:59:44.903Z
    ServiceOrderDto:
      type: object
      required:
        - id
        - slug
        - status
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique service order identification
          example: 4b6d7415-a029-457a-9901-cc66f76aded4
        slug:
          type: string
          nullable: false
          description: service order identification
          example: "OS-1234"
        status:
          $ref: "#/components/schemas/ServiceOrderStatusEnum"
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the service order was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the service order was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the service order was deleted
          example: 2024-05-27T22:59:44.903Z
    AircraftManufacturerDto:
      type: object
      required:
        - id
        - name
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique aircraft manufacturer identification
          example: "ca824435-6ecc-4fcc-9ca1-53801a58790f"
        name:
          type: string
          nullable: false
          description: aircraft manufacturer
          example: "Air Tractor"
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the aircraft manufacturer was created
          example: "2024-05-27T22:52:44.903Z"
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the aircraft manufacturer was updated
          example: "2024-05-27T22:55:44.903Z"
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the aircraft manufacturer was deleted
          example: "2024-05-27T22:59:44.903Z"
    AircraftModelDto:
      type: object
      required:
        - id
        - name
        - manufacturer
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique aircraft model identification
          example: 07d9a0aa-eb71-451d-af05-de2a06d3d888
        name:
          type: string
          nullable: false
          description: aircraft model
          example: AT-401
        manufacturer:
          $ref: "#/components/schemas/AircraftManufacturerDto"
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the aircraft model was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the aircraft model was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the aircraft model was deleted
          example: 2024-05-27T22:59:44.903Z
    AerialCompanyDto:
      type: object
      required:
        - id
        - name
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique aerial company identification
          example: 134457d7-58d3-4247-9f67-3fa82b3a0535
        name:
          type: string
          nullable: false
          description: aerial company name
          example: Flight Company
        documentNumber:
          type: string
          nullable: true
          description: aerial company document number
          example: 00.000.000/0000-00
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the aerial company was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the aerial company was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the aerial company was deleted
          example: 2024-05-27T22:59:44.903Z
    PilotDto:
      type: object
      required:
        - id
        - name
        - licenseId
        - aerialCompany
        - createdAt
      properties:
        id:
          $ref: "#/components/schemas/PilotId"
        name:
          type: string
          nullable: false
          description: pilot name
          example: John Due
        licenseId:
          type: string
          nullable: false
          description: identification of the pilot's license (in Brazil, for example, the document would be the 'Brevê'´
          example: "459439473"
        aerialCompany:
          $ref: "#/components/schemas/AerialCompanyDto"
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the pilot was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the pilot was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the pilot was deleted
          example: 2024-05-27T22:59:44.903Z
    AircraftDto:
      type: object
      required:
        - id
        - enrollmentId
        - model
        - aerialCompany
        - createdAt
      properties:
        id:
          $ref: "#/components/schemas/AircraftId"
        enrollmentId:
          type: string
          nullable: false
          description: enrollment aircraft identification
          example: PT-FFG
        model:
          $ref: "#/components/schemas/AircraftModelDto"
        aerialCompany:
          $ref: "#/components/schemas/AerialCompanyDto"
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the aircraft was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the aircraft was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the aircraft was deleted
          example: 2024-05-27T22:59:44.903Z
    ApplicationFieldDto:
      type: object
      required:
        - id
        - boundaries
        - area
        - field
        - totalTargetFieldArea
        - totalInternalAppliedArea
        - totalNotAppliedArea
        - totalInternalAppliedOverlapArea
        - totalAppliedOverdoseArea
        - averageUniformityScore
        - averageFailureScore
        - averageSuccessScore
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique application field identification
          example: 52a22d4e-69bf-4b6a-9f7f-247ada19104c
        boundaries:
          type: string
          format: wkt
          nullable: false
          description: appplication field boundaries
          example: "POLYGON ((-64.8000009 -6.7046461,-55.2000008 -10.0284011,-63.3600009 -15.6419963,-64.8000009 -6.7046461))"
        area:
          type: number
          format: double
          minimum: 0
          nullable: false
          # TODO description:
          example: 33.43
        totalTargetFieldArea:
          type: number
          format: double
          minimum: 0
          # TODO description:
          nullable: false
          example: 234.43
        totalInternalAppliedArea:
          type: number
          format: double
          minimum: 0
          # TODO description:
          nullable: false
          example: 234.43
        totalNotAppliedArea:
          type: number
          format: double
          minimum: 0
          # TODO description:
          nullable: false
          example: 234.43
        totalInternalAppliedOverlapArea:
          type: number
          format: double
          minimum: 0
          # TODO description:
          nullable: false
          example: 234.43
        totalAppliedOverdoseArea:
          type: number
          format: double
          minimum: 0
          # TODO description:
          nullable: false
          example: 234.43
        averageUniformityScore:
          type: number
          format: double
          minimum: 0
          # TODO description:
          nullable: false
          example: 234.43
        averageFailureScore:
          type: number
          format: double
          minimum: 0
          # TODO description:
          nullable: false
          example: 234.43
        averageSuccessScore:
          type: number
          format: double
          minimum: 0
          # TODO description:
          nullable: false
          example: 234.43
        field:
          $ref: "#/components/schemas/FieldDto"
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the application field was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the application field was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the application field was deleted
          example: 2024-05-27T22:59:44.903Z
    FlowRateDataByGroupDto:
      type: object
      required:
        - flowRateGroup
        - groupArea
        - groupPercentual
        - groupColor
        - initialGroupRate
        - finalGroupRate
      properties:
        flowRateGroup:
          type: string
          nullable: false
          description: flow rate group index
          example: "1"
        groupArea:
          type: number
          format: double
          nullable: false
          description: flow rate group area
          example: 98.45
        groupPercentual:
          type: number
          format: double
          nullable: false
          description: flow rate group area percentual
          example: 98.45
        groupColor:
          type: string
          nullable: false
          description: flow rate group color
          example: "#FEF60D"
        initialGroupRate:
          type: number
          format: double
          nullable: false
          description: initial interval rate group
          example: 98.45
        finalGroupRate:
          type: number
          format: double
          nullable: false
          description: final interval rate group
          example: 98.45
    HeightDataByGroupDto:
      type: object
      required:
        - heightGroup
        - groupArea
        - groupPercentual
        - groupColor
        - initialGroupHeight
        - finalGroupHeight
      properties:
        heightGroup:
          type: string
          nullable: false
          description: height group index
          example: "1"
        groupArea:
          type: number
          format: double
          nullable: false
          description: height group area
          example: 98.45
        groupPercentual:
          type: number
          format: double
          nullable: false
          description: height group area percentual
          example: 98.45
        groupColor:
          type: string
          nullable: false
          description: height group color
          example: "#FEF60D"
        initialGroupHeight:
          type: number
          format: double
          nullable: false
          description: initial interval height group
          example: 98.45
        finalGroupHeight:
          type: number
          format: double
          nullable: false
          description: final interval height group
          example: 98.45
    AmountDto:
      type: object
      required:
        - currency
        - value
      properties:
        currency:
          $ref: "#/components/schemas/CurrencyEnum"
        value:
          type: number
          format: double
          nullable: false
          description: amount value
          default: 0
          example: 332.43
    ApplicationProductDto:
      type: object
      required:
        - id
        - dosage
        - amount
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique application product identification
          example: bac848b2-5137-4228-a61b-0d6a8e84b0a1
        dosage:
          type: number
          format: double
          nullable: false
          description: product dosage
          example: 1.25
        amount:
          $ref: "#/components/schemas/AmountDto"
        # TODO SeasonProductDto product
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the application product was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the application product was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the application product was deleted
          example: 2024-05-27T22:59:44.903Z
    ApplicationScheduleDto:
      type: object
      required:
        - id
        - status
        - pilot
        - startedIn
        - finishedIn
        - aircraft
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique application schedule identification
          example: ce75ce52-5064-485a-87a5-aa0f1ebe0c03
        status:
          $ref: "#/components/schemas/ApplicationScheduleStatusEnum"
        pilot:
          $ref: "#/components/schemas/PilotDto"
        aircraft:
          $ref: "#/components/schemas/AircraftDto"
        startedIn:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the schedule was started
          example: 2024-05-27T22:52:44.903Z
        finishedIn:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the schedule was finished
          example: 2024-05-27T23:32:22.100Z
        runwayDistance:
          type: number
          format: float
          nullable: true
          example: 10.40
          default: 0
          description: runway distance
        swathWidth:
          type: integer
          format: int32
          nullable: true
          description: swath width (in meters)
          example: 28
        comments:
          type: string
          nullable: true
          maxLength: 255
          description: application schedule comments
          example: my application schedule comments
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the application schedule was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the application schedule was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the application schedule was deleted
          example: 2024-05-27T22:59:44.903Z
    ApplicationLogDto:
      type: object
      required:
        - id
        - filename
        - status
        - format
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique application log identification
          example: d8632348-fb7a-4133-a133-8076445bdade
        filename:
          type: string
          nullable: false
          description: application log filename
          example: 03062024.log
        status:
          $ref: "#/components/schemas/ApplicationLogStatusEnum"
        format:
          $ref: "#/components/schemas/ApplicationLogFormatEnum"
        metadata:
          type: object
          nullable: true
          description: application log metadata
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the application log was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the application log was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the application log was deleted
          example: 2024-05-27T22:59:44.903Z
    ApplicationDto:
      type: object
      required:
        - id
        - season
        - status
        - serviceOrder
        - analysisMethod
        - schedules
        - applicationType
        - averageSuccessScore
        - averageFailureScore
        - averageUniformityScore
        - averageWasteScore
        - totalInternalAppliedOverlapArea
        - totalExternalAppliedOverlapArea
        - totalInternalAppliedArea
        - totalExternalAppliedArea
        - totalAppliedOverlapArea
        - totalTargetFieldArea
        - totalNotAppliedArea
        - totalDistanceTraveled
        - totalAppliedArea
        - totalAppliedOverdoseArea
        - totalCostByArea
        - totalCostByAppliedArea
        - totalCostByTargetFieldArea
        - totalCostByExternalAppliedArea
        - totalCostByInternalAppliedArea
        - totalCostByInternalAppliedOverlapArea
        - totalCostByExternalAppliedOverlapArea
        - displacementMargin
        - averageSampleRate
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique application identification
          example: fa2a8bbd-5f1d-4012-a022-12a28f676057
        season:
          $ref: "#/components/schemas/SeasonDto"
        status:
          $ref: "#/components/schemas/ApplicationStatusEnum"
        analysisMethod:
          $ref: "#/components/schemas/ApplicationAnalysisMethodEnum"
        applicationType:
          $ref: "#/components/schemas/ApplicationTypeEnum"
        deletedReason:
          $ref: "#/components/schemas/ApplicationDeletedReasonEnum"
        fields:
          type: array
          minItems: 0
          nullable: true
          uniqueItems: true
          description: fields of application
          items:
            $ref: "#/components/schemas/ApplicationFieldDto"
        schedules:
          type: array
          minItems: 1
          nullable: false
          uniqueItems: true
          description: schedules of application
          items:
            $ref: "#/components/schemas/ApplicationScheduleDto"
        logs:
          type: array
          minItems: 0
          nullable: true
          uniqueItems: true
          description: logs of application
          items:
            $ref: "#/components/schemas/ApplicationLogDto"
        products:
          type: array
          minItems: 0
          nullable: true
          uniqueItems: true
          description: products of application
          items:
            $ref: "#/components/schemas/ApplicationProductDto"
        serviceOrder:
          $ref: "#/components/schemas/ServiceOrderDto"
        averageSuccessScore:
          type: number
          format: double
          nullable: false
          minimum: 0
          maximum: 100
          example: 98.45
        averageFailureScore:
          type: number
          format: double
          minimum: 0
          maximum: 100
          nullable: false
          example: 98.45
        averageUniformityScore:
          type: number
          format: double
          minimum: 0
          maximum: 100
          nullable: false
          example: 98.45
        averageWasteScore:
          type: number
          format: double
          minimum: 0
          maximum: 100
          nullable: false
          example: 98.45
        averageRateFlow:
          format: double
          type: number
          nullable: true
          example: 98.45
        plannedAverageRateFlow:
          format: double
          type: number
          nullable: true
          example: 98.45
        flowRateDataByGroup:
          type: array
          minItems: 0
          nullable: true
          uniqueItems: true
          description: flow rate data of application
          items:
            $ref: "#/components/schemas/FlowRateDataByGroupDto"
        averageSpeed:
          format: double
          type: number
          nullable: true
          example: 98.45
        averageHeight:
          format: double
          type: number
          nullable: true
          example: 98.45
        plannedAverageHeight:
          format: double
          type: number
          nullable: true
          example: 98.45
        heightDataByGroup:
          type: array
          minItems: 0
          nullable: true
          uniqueItems: true
          description: height data of application
          items:
            $ref: '#/components/schemas/HeightDataByGroupDto'
        totalInternalAppliedOverlapArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalExternalAppliedOverlapArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalInternalAppliedArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalExternalAppliedArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalAppliedOverlapArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalTargetFieldArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalNotAppliedArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalDistanceTraveled:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalAppliedArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalAppliedOverdoseArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalCostByArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalCostByAppliedArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalCostByTargetFieldArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalCostByExternalAppliedArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalCostByInternalAppliedArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalCostByInternalAppliedOverlapArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        totalCostByExternalAppliedOverlapArea:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 98.45
        displacementMargin:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 147.67
        averageSampleRate:
          format: double
          type: number
          minimum: 0
          nullable: false
          example: 2.58
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the application was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the application was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the application was deleted
          example: 2024-05-27T22:59:44.903Z
    SuggestedProductDto:
      type: object
      required:
        - id
        - name
        - serviceType
        - classType
        - manufacturerName
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique suggested product identification
          example: efae9cea-767f-4d28-a4e6-891ee7b0e998
        name:
          type: string
          nullable: false
          description: suggested product name
          example: Suggested Product Example
        manufacturerName:
          type: string
          nullable: false
          description: name of the manufacturer of the suggested product
          example: Manufacturer Example
        classType:
          $ref: "#/components/schemas/ProductClassTypeEnum"
        serviceType:
          $ref: "#/components/schemas/ProductServiceTypeEnum"
        measurementUnit:
          $ref: "#/components/schemas/MeasurementUnitEnum"
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the suggested product was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the suggested product was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the suggested product was deleted
          example: 2024-05-27T22:59:44.903Z
    FieldDto:
      type: object
      required:
        - id
        - name
        - boundaries
        - area
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique field identification
          example: b48207a5-9408-4b92-b15f-6954b225c0b6
        name:
          type: string
          nullable: false
          description: field name
          example: Field 01
        area:
          type: number
          nullable: false
          description: |-
            total field area in hectares.

            the area calculation is performed considering the EPSG:5530 projection, which is a specific coordinate reference system for the geographic region of Brazil.
            for more details visit [https://epsg.io/5530](https://epsg.io/5530).
          example: 33.43
        boundaries:
          type: string
          nullable: false
          description: object in wkt format that represents the georeferencing of the field
          example: "POLYGON ((-56.1736668 -15.5591935,-56.1731188 -15.5592036,-56.1731971 -15.5595204,-56.1737295 -15.5594852,-56.1736668 -15.5591935))"
          format: wkt
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the field was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the field was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the field was deleted
          example: 2024-05-27T22:59:44.903Z
    FarmDto:
      type: object
      required:
        - id
        - name
        - namespace
        - area
        - count
        - boundaries
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique farm identification
          example: 20f94ebe-361b-44e6-9729-57d744d04b27
        name:
          type: string
          nullable: false
          description: farm name
          example: My Farm
        namespace:
          type: string
          nullable: false
          description: group to which the farm belongs
          example: Farms
        area:
          type: number
          nullable: false
          default: 0
          description: |-
            total area of ​​the farm in hectares according to the fields that are active and associated with it.

            the area calculation is performed considering the EPSG:5530 projection, which is a specific coordinate reference system for the geographic region of Brazil.
            for more details visit [https://epsg.io/5530](https://epsg.io/5530).
          example: 155.43
        count:
          type: integer
          nullable: false
          default: 0
          description: number of active fields associated with the farm
          example: 29
        boundaries:
          type: string
          nullable: false
          default: "POLYGON EMPTY"
          description: object in wkt format that represents the georeference of the farm according to the active fields associated with it
          example: "MULTIPOLYGON (((-63.7279364 -8.8349494,-63.7264692 -8.8379071,-63.7252954 -8.8373272,-63.7272909 -8.8346015,-63.7279364 -8.8349494)),((-63.7265866 -8.8333836,-63.7268213 -8.8324557,-63.7245324 -8.8322238,-63.7246498 -8.8331516,-63.7265866 -8.8333836)))"
          format: wkt
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the farm was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the farm was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the farm was deleted
          example: 2024-05-27T22:59:44.903Z
    CreateFarmDto:
      type: object
      required:
        - name
        - namespace
      properties:
        name:
          type: string
          nullable: false
          description: farm name
          example: My Farm
        namespace:
          type: string
          nullable: false
          description: group to which the farm belongs
          example: Farms
        parentFarmId:
          type: string
          format: uuid
          description: |-
            identification of the parent farm.

            enter this attribute when you want to associate a farm with an existing one (as if it were a tree structure).
          example: bfc780ae-3873-4caf-92d3-9b7ae4ea2a57
    FarmCreatedDto:
      type: object
      required:
        - id
        - name
        - namespace
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique farm identification
          example: 20f94ebe-361b-44e6-9729-57d744d04b27
        name:
          type: string
          nullable: false
          description: farm name
          example: My Farm
        namespace:
          type: string
          nullable: false
          description: group to which the farm belongs
          example: Farms
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the farm was created
          example: 2024-05-27T22:52:44.903Z
    PilotId:
      type: string
      format: uuid
      nullable: false
      description: unique pilot identification
      example: "d902bd61-6b7f-451e-970c-4576d1fbb238"
    AircraftId:
      type: string
      format: uuid
      nullable: false
      description: unique aircraft identification
      example: "54e5221c-8a04-4f86-a558-d85b9210f0c9"
    TractorId:
      type: string
      format: uuid
      nullable: false
      description: unique tractor identification
      example: "771bc011-22b9-439a-b0b4-0e7ffe3cc93e"
    CreatePreFlightDto:
      type: object
      properties:
        slug:
          type: string
          nullable: true
          description: service order identification
          default: "OS-XXXXXXXXXX"
          example: "OS-1234567899"
        observation:
          type: string
          nullable: true
          description: pre flight observation
          example: "my pre flight comments"
        preFlightSeasonId:
          type: string
          format: uuid
          nullable: false
          description: unique pre flight season identification
          example: "134457d7-58d3-4247-9f67-3fa82b3a0535"
        preFlightPilot:
          type: array
          minItems: 0
          nullable: true
          uniqueItems: true
          description: pilots of pre flight
          items:
            $ref: "#/components/schemas/PilotId"
        preFlightAircraft:
          type: array
          minItems: 0
          nullable: true
          uniqueItems: true
          description: aircrafts of pre flight
          items:
            $ref: "#/components/schemas/AircraftId"
        preFlightTractor:
          type: array
          minItems: 0
          nullable: true
          uniqueItems: true
          description: tractors of pre flight
          items:
            $ref: "#/components/schemas/TractorId"
  securitySchemes:
    auth:
      description: "Authorization Server"
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: "https://auth.sandbox.perfectflight.com.br/oauth2/token"
