openapi: 3.0.3
info:
  title: Perfect Flight - OpenAPI
  version: 1.0.0
  contact:
    email: developer@perfectflightapp.com
servers:
  - url: https://api.sandbox.perfectflight.com.br/v1
    description: Sandbox
  - url: https://api.perfectflight.com.br/v1
    description: Production
tags:
  - name: application
  - name: farm
  - name: field
  - name: season
  - name: restriction field
paths:
  /applications:
    get:
      tags:
        - application
      responses:
        default:
          description: Default response for GET /applications
      security:
        - bearerAuth: []
  /applications/{applicationId}:
    get:
      tags:
        - application
      responses:
        default:
          description: Default response for GET /applications/{applicationId}
      security:
        - bearerAuth: []
    parameters:
      - name: applicationId
        in: path
        description: Generated path parameter for applicationId
        example: c17ebf24-e2bd-4c83-88fc-f2c8b0e43883
        required: true
        schema:
          type: string
          format: uuid
  /farms:
    get:
      tags:
        - farm
      responses:
        default:
          description: Default response for GET /farms
      security:
        - bearerAuth: []
  /farms/{farmId}:
    get:
      tags:
        - farm
      responses:
        default:
          description: Default response for GET /farms/{farmId}
      security:
        - bearerAuth: []
    parameters:
      - name: farmId
        in: path
        description: Generated path parameter for farmId
        example: c17ebf24-e2bd-4c83-88fc-f2c8b0e43883
        required: true
        schema:
          type: string
          format: uuid
  /farms/{farmId}/fields:
    get:
      tags:
        - field
      responses:
        default:
          description: Default response for GET /farms/{farmId}/fields
      security:
        - bearerAuth: []
    parameters:
      - name: farmId
        in: path
        description: Generated path parameter for farmId
        required: true
        schema:
          type: string
  /farms/{farmId}/fields/{fieldId}:
    get:
      tags:
        - field
      responses:
        default:
          description: Default response for GET /farms/{farmId}/fields/{fieldId}
      security:
        - bearerAuth: []
    parameters:
      - name: farmId
        in: path
        description: Generated path parameter for farmId
        required: true
        schema:
          type: string
      - name: fieldId
        in: path
        description: Generated path parameter for fieldId
        required: true
        schema:
          type: string
  /restriction-fields:
    get:
      tags:
        - restriction field
      responses:
        default:
          description: Default response for GET /restriction-fields
      security:
        - bearerAuth: []
  /restriction-fields/{restrictionFieldId}:
    get:
      tags:
        - restriction field
      responses:
        default:
          description: Default response for GET /restriction-fields/{restrictionFieldId}
      security:
        - bearerAuth: []
    parameters:
      - name: restrictionFieldId
        in: path
        description: Generated path parameter for restrictionFieldId
        required: true
        schema:
          type: string
  /seasons:
    get:
      tags:
        - season
      responses:
        default:
          description: Default response for GET /seasons
      security:
        - bearerAuth: []
  /seasons/{seasonId}:
    get:
      tags:
        - season
      responses:
        default:
          description: Default response for GET /seasons/{seasonId}
      security:
        - bearerAuth: []
    parameters:
      - name: seasonId
        in: path
        description: Generated path parameter for seasonId
        required: true
        schema:
          type: string
components:
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
      bearerFormat: JWT