openapi: 3.0.3
info:
  title: Perfect Flight - OpenAPI
  version: 1.0.0
  contact:
    email: developer@perfectflightapp.com
servers:
  - url: https://api.sandbox.perfectflight.com.br/v1
    description: "API Server"
tags:
  - name: application
  - name: farm
  - name: field
  - name: season
  - name: restriction field
paths:
  /applications:
    get:
      description: search all applications
      summary: search all applications
      tags:
        - application
      responses:
        default:
          description: Default response for GET /applications
      security:
        - bearerAuth: []
  /applications/{applicationId}:
    get:
      description: search application by id
      summary: search application by id
      tags:
        - application
      
      responses:
        default:
          description: Default response for GET /applications/{applicationId}
      security:
        - bearerAuth: []
    parameters:
      - name: applicationId
        in: path
        description: unique application identification
        example: c17ebf24-e2bd-4c83-88fc-f2c8b0e43883
        required: true
        schema:
          type: string
          format: uuid
  /farms:
    get:
      description: search all farms
      summary: search all farms
      tags:
        - farm
      responses:
        '200':
          description: successful farm search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation request identification
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                type: array
                description: list of farms
                minimum: 0
                minItems: 0
                uniqueItems: true
                items:
                  $ref: '#/components/schemas/FarmDto'
        '401':
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation request identification
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedException'
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
      security:
        - bearerAuth: []
      parameters:
        - name: x-pf-correlation-id
          in: header
          description: correlation request identification
          required: false
          example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          schema:
            type: string
            format: uuid
            nullable: true
    parameters:
      - name: namespace
        in: query
        description: farm namespace
        required: false
        schema:
          type: string
          nullable: true
          example: Farms
      - name: name
        in: query
        description: farm name
        required: false
        schema:
          type: string
          nullable: true
          example: My Farm
      - name: parentFarmId
        in: query
        description: parent farm id
        required: false
        schema:
          type: string
          format: uuid
          nullable: true
          example: 09650ecf-a354-4d6b-9092-6c0f8d037a92
      - name: page
        in: query
        description: current page number
        required: false
        schema:
          type: integer
          nullable: true
          example: 2
          default: 1
      - name: pageSize
        in: query
        description: number of farms per page
        required: false
        schema:
          type: integer
          nullable: true
          example: 20
          default: 10
  /farms/{farmId}:
    get:
      description: search farm by id
      summary: search farm by id
      tags:
        - farm
      responses:
        '200':
          description: successful farm search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation request identification
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmDto'
        '401':
          description: unauthorized
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation request identification
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedException'
        '404':
          description: farm not found
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation request identification
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmNotFoundException'
        '500':
          description: internal server error
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation request identification
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
      security:
        - bearerAuth: []
    parameters:
      - name: farmId
        in: path
        description: unique farm identification
        example: c17ebf24-e2bd-4c83-88fc-f2c8b0e43883
        required: true
        schema:
          type: string
          format: uuid
      - name: x-pf-correlation-id
        in: header
        description: correlation request identification
        required: false
        example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
        schema:
          type: string
          format: uuid
          nullable: true
  /farms/{farmId}/fields:
    get:
      description: search all fields by farm id
      summary: search all fields by farm id
      tags:
        - farm
      responses:
        default:
          description: Default response for GET /farms/{farmId}/fields
      security:
        - bearerAuth: []
    parameters:
      - name: farmId
        in: path
        description: unique farm identification
        required: true
        schema:
          type: string
  /fields:
    get:
      description: search all fields
      summary: search all fields
      tags:
        - field
      responses:
        '200':
          description: successful field search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation request identification
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                type: array
                description: list of fields
                minimum: 0
                minItems: 0
                uniqueItems: true
                items:
                  $ref: '#/components/schemas/FieldDto'
  /fields/{fieldId}:
    get:
      description: search field by id
      summary: search field by id
      tags:
        - field
      responses:
        '200':
          description: successful field search
          headers:
            x-pf-correlation-id:
              required: true
              description: correlation request identification
              schema:
                type: string
                format: uuid
                nullable: false
                example: d5de0545-a36b-4c9d-b0cd-4e6e8a523bf1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDto'
      security:
        - bearerAuth: []
    parameters:
      - name: fieldId
        in: path
        description: unique field identification
        required: true
        schema:
          type: string
  /restriction-fields:
    get:
      description: search all restriction fields
      summary: search all restriction fields
      tags:
        - restriction field
      responses:
        default:
          description: Default response for GET /restriction-fields
      security:
        - bearerAuth: []
  /restriction-fields/{restrictionFieldId}:
    get:
      description: search restriction field by id
      summary: search restriction field by id
      tags:
        - restriction field
      responses:
        default:
          description: Default response for GET /restriction-fields/{restrictionFieldId}
      security:
        - bearerAuth: []
    parameters:
      - name: restrictionFieldId
        in: path
        description: unique restriction field identification
        required: true
        schema:
          type: string
  /seasons:
    get:
      description: search all seasons
      summary: search all seasons
      tags:
        - season
      responses:
        default:
          description: Default response for GET /seasons
      security:
        - bearerAuth: []
  /seasons/{seasonId}:
    get:
      description: search season by id
      summary: search season by id
      tags:
        - season
      responses:
        default:
          description: Default response for GET /seasons/{seasonId}
      security:
        - bearerAuth: []
    parameters:
      - name: seasonId
        in: path
        description: unique season identification
        required: true
        schema:
          type: string
components:
  schemas:
    FarmNotFoundException:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: not_found_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: Farm 20f94ebe-361b-44e6-9729-57d744d04b27 not found
    UnauthorizedException:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: unauthorized_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: unauthorized
    InternalServerErrorException:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: exception error code
          nullable: false
          example: internal_server_error_exception
        message:
          type: string
          description: exception error message
          nullable: false
          example: internal server error
    ApplicationDto:
      type: object
    SeasonDto:
      type: object
    RestrictionFieldDto:
      type: object
    FieldDto:
      type: object
      required:
        - id
        - name
        - boundaries
        - area 
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique field identification
          example: b48207a5-9408-4b92-b15f-6954b225c0b6
        name:
          type: string
          nullable: false
          description: field name
          example: Field 01
        area:
          type: number
          nullable: false
          default: 0
          description: --
          example: 55.43
        boundaries:
          type: string
          nullable: false
          description: --
          example: "--"
          format: wkt
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the field was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the field was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the field was deleted
          example: 2024-05-27T22:59:44.903Z
    FarmDto:
      type: object
      required:
        - id
        - name
        - namespace
        - area
        - count
        - boundaries
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          description: unique farm identification
          example: 20f94ebe-361b-44e6-9729-57d744d04b27
        name:
          type: string
          nullable: false
          description: farm name
          example: My Farm
        namespace:
          type: string
          nullable: false
          description: group to which the farm belongs
          example: Farms
        area:
          type: number
          nullable: false
          default: 0
          description: total area of ​​the farm in hectares according to the fields that are active and associated with it
          example: 155.43
        count:
          type: integer
          nullable: false
          default: 0
          description: number of active fields associated with the farm
          example: 29
        boundaries:
          type: string
          nullable: false
          default: "POLYGON EMPTY"
          description: object in wkt format that represents the georeference of the farm according to the active fields associated with it
          example: "MULTIPOLYGON (((-63.7279364 -8.8349494,-63.7264692 -8.8379071,-63.7252954 -8.8373272,-63.7272909 -8.8346015,-63.7279364 -8.8349494)),((-63.7265866 -8.8333836,-63.7268213 -8.8324557,-63.7245324 -8.8322238,-63.7246498 -8.8331516,-63.7265866 -8.8333836)))"
          format: wkt
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: timestamp in RFC 3339 format (UTC) in which the farm was created
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the farm was updated
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: timestamp in RFC 3339 format (UTC) in which the farm was deleted
          example: 2024-05-27T22:59:44.903Z
  securitySchemes:
    bearerAuth:
      description: "Authorization Server"
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://auth.sandbox.perfectflight.com.br/connect/token'
          scopes:
            read_customer_farm: read farm
            read_customer_field: read field
            read_customer_season: read customer season
        