openapi: 3.0.3
info:
  title: Perfect Flight - OpenAPI
  version: 1.0.0
  contact:
    email: developer@perfectflightapp.com
servers:
  - url: https://api.sandbox.perfectflight.com.br/v1
    description: "API Server"
tags:
  - name: application
  - name: farm
  - name: field
  - name: season
  - name: restriction field
paths:
  /applications:
    get:
      tags:
        - application
      responses:
        default:
          description: Default response for GET /applications
      security:
        - bearerAuth: []
  /applications/{applicationId}:
    get:
      tags:
        - application
      
      responses:
        default:
          description: Default response for GET /applications/{applicationId}
      security:
        - bearerAuth: []
    parameters:
      - name: applicationId
        in: path
        description: Generated path parameter for applicationId
        example: c17ebf24-e2bd-4c83-88fc-f2c8b0e43883
        required: true
        schema:
          type: string
          format: uuid
  /farms:
    get:
      tags:
        - farm
      responses:
        '200':
          description: success operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Farm'
      security:
        - bearerAuth: []
  /farms/{farmId}:
    get:
      tags:
        - farm
      responses:
        '200':
          description: success operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Farm'
      security:
        - bearerAuth: []
    parameters:
      - name: farmId
        in: path
        description: Generated path parameter for farmId
        example: c17ebf24-e2bd-4c83-88fc-f2c8b0e43883
        required: true
        schema:
          type: string
          format: uuid
  /farms/{farmId}/fields:
    get:
      tags:
        - field
      responses:
        default:
          description: Default response for GET /farms/{farmId}/fields
      security:
        - bearerAuth: []
    parameters:
      - name: farmId
        in: path
        description: Generated path parameter for farmId
        required: true
        schema:
          type: string
  /farms/{farmId}/fields/{fieldId}:
    get:
      tags:
        - field
      responses:
        default:
          description: Default response for GET /farms/{farmId}/fields/{fieldId}
      security:
        - bearerAuth: []
    parameters:
      - name: farmId
        in: path
        description: Generated path parameter for farmId
        required: true
        schema:
          type: string
      - name: fieldId
        in: path
        description: Generated path parameter for fieldId
        required: true
        schema:
          type: string
  /restriction-fields:
    get:
      tags:
        - restriction field
      responses:
        default:
          description: Default response for GET /restriction-fields
      security:
        - bearerAuth: []
  /restriction-fields/{restrictionFieldId}:
    get:
      tags:
        - restriction field
      responses:
        default:
          description: Default response for GET /restriction-fields/{restrictionFieldId}
      security:
        - bearerAuth: []
    parameters:
      - name: restrictionFieldId
        in: path
        description: Generated path parameter for restrictionFieldId
        required: true
        schema:
          type: string
  /seasons:
    get:
      tags:
        - season
      responses:
        default:
          description: Default response for GET /seasons
      security:
        - bearerAuth: []
  /seasons/{seasonId}:
    get:
      tags:
        - season
      responses:
        default:
          description: Default response for GET /seasons/{seasonId}
      security:
        - bearerAuth: []
    parameters:
      - name: seasonId
        in: path
        description: Generated path parameter for seasonId
        required: true
        schema:
          type: string
components:
  schemas:
    Application:
      type: object
    Season:
      type: object
    Restriction Field:
      type: object
    Field:
      type: object
    Farm:
      type: object
      required:
        - id
        - name
        - namespace
        - area
        - count
        - boundaries
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          nullable: false
          example: 20f94ebe-361b-44e6-9729-57d744d04b27
        name:
          type: string
          nullable: false
          example: My Farm
        namespace:
          type: string
          nullable: false
          example: Farms
        area:
          type: number
          nullable: false
          default: 0
          example: 155.43
        count:
          type: integer
          nullable: false
          default: 0
          example: 29
        boundaries:
          type: string
          nullable: false
          default: "POLYGON EMPTY"
          example: "MULTIPOLYGON (((-63.7279364 -8.8349494,-63.7264692 -8.8379071,-63.7252954 -8.8373272,-63.7272909 -8.8346015,-63.7279364 -8.8349494)),((-63.7265866 -8.8333836,-63.7268213 -8.8324557,-63.7245324 -8.8322238,-63.7246498 -8.8331516,-63.7265866 -8.8333836)))"
          format: wkt format
        createdAt:
          type: string
          format: date-time
          nullable: false
          example: 2024-05-27T22:52:44.903Z
        updatedAt:
          type: string
          format: date-time
          nullable: true
          example: 2024-05-27T22:55:44.903Z
        deletedAt:
          type: string
          format: date-time
          nullable: true
          example: 2024-05-27T22:59:44.903Z
  securitySchemes:
    bearerAuth:
      description: "Authorization Server"
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://auth.sandbox.perfectflight.com.br/connect/token'
          scopes:
            read_customer_farm: read farm
            read_customer_field: read field
            read_customer_season: read customer season
        